<p style="align:center">Hi <%= @name %>, Welcome to Book Your Place</p>

<p style="align:center">In order to start using Book Your Place, please verify your account using OTP given below</p>

<h4 style="align:center">--OTP--</h4>

<h1 style="align:center"><%= @otp %></h1>
