<p style="align:center">Hi <%= @name %></p>

<p style="align:center">You have requested to reset your password. Please enter below OTP.</p>

<h4 style="align:center">--OTP--</h4>

<h1 style="align:center"><%= @otp %></h1>
